body {
  font-family: "Roboto", sans-serif; /* семейство шрифта */
  font-size: 14px; /* размер шрифта */
  color: #0a143a; /* цвет текста */
}

/* шапка */
.header {
  max-width: 1146px; /* максимальная ширина */
  margin: auto; /* автоматическое выравнивание по середине */
}
/* навигация */
.navbar {
  display: flex; /* делаем гибкий блок */
  align-items: center; /* выравниваем по вертикали по центру */
  justify-content: space-between; /* разбросать элементы по краям */
  padding-top: 30px; /* внутренний отступ сверху */
  margin-bottom: 24px;
}
/* меню в шапке */
.navbar-menu {
  margin-right: auto; /* автоматический отступ справа */
}
.menu {
  list-style: none; /* отключаем точки */
  margin: 0; /* обнулЯем отступы */
  padding-left: 22px; /* внутренний отступ слева */
  padding-right: 22px; /* внутренний отступ справа */
  display: flex;
}
.menu-item:not(:last-child) {
  /* для всех, кроме последнего элемента */
  margin-right: 14px; /* отступ справа */
}
.menu-link {
  text-decoration: none; /* отключаем подчеркивание */
  color: inherit; /* возми цвет текста как у родителя (body) */
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px; /* сверху т снизу 10px слева и справа 15px */
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb; /* фон */
  border-radius: 5px; /* скругление углов */
  color: white;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /* растягивается на все свободное место */
  background: #ffffff;
  border-radius: 5px;
  border: none; /* отключаем обводку */
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
